Source: fusionpbx_incoming_calls_exporter
Section: utils
Priority: optional
Maintainer: Alexander Volz <Alexander@volzit.de>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.0.0
Homepage: https://github.com/Apfelwurm/fusionpbx_incoming_calls_exporter

Package: fusionpbx_incoming_calls_exporter
Architecture: amd64
Depends: systemd
Description: Exports FusionPBX incoming gw calls data to Prometheus.
