Source: fusionpbx-incoming-calls-exporter
Section: utils
Priority: optional
Maintainer: Alexander Volz <Alexander@volzit.de>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.0.0
Homepage: https://github.com/Apfelwurm/fusionpbx_incoming_calls_exporter

Package: fusionpbx-incoming-calls-exporter
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd
Description: Exports FusionPBX incoming gw calls data to Prometheus.
