Source: fusionpbx-incoming-calls-exporter
Package: fusionpbx-incoming-calls-exporter
Version: %%VERSION%%
Section: utils
Priority: optional
Architecture: amd64
Depends: ${shlibs:Depends},
         ${misc:Depends}, 
         systemd
Build-Depends: debhelper (>=9.0.0),
               dh-systemd (>= 1.5)
Maintainer: Alexander Volz <Alexander@volzit.de>
Description: Exports FusionPBX incoming gw calls data to Prometheus.