[Unit]
Description=fusionpbx incoming calls Exporter

[Service]
User=nobody
ExecStart=/usr/sbin/fusionpbx-incoming-calls-exporter

[Install]
WantedBy=multi-user.target